.phone div.kmw-key.kmw-key-default[id$='K_A']
  { background: #e2f0cb ; color: black; }
 .phone div.kmw-key.kmw-key-default[id$='K_E']
  { background: #ffffb5 ; color: black; }
 .phone div.kmw-key.kmw-key-default[id$='K_I']
  { background: #fea3aa ; color: black; }
 .phone div.kmw-key.kmw-key-default[id$='K_O']
  { background: #ccf1ff ; color: black; }
   .phone div.kmw-key.kmw-key-default[id$='K_U']
  { background: #e0d7ff ; color: black; }